.paginator {
    display: flex;
    margin: 15px 15px 0px 15px;
    background-color: #262938;
    border-radius: 15px;

}

.all {
    text-align: center;
    width: 100%;
}

.all:hover{
    background-color: #3b3d4d;
}

.pageNumber {
    display: block;
    border: solid 1px #767676;
    padding: 5px;
    margin: 0 auto;
    outline: 0;

    cursor: pointer;
    color: white;
    font-weight: 400;
    text-align: center;

}

.pageNumber.selectedPage {
    font-weight: bold;
    background-color: #454755;
}



.prev {
    color: white;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    cursor: pointer;
    background-color: #262938;
    border: solid 1px #767676;
}

.prev:disabled{
    color: #767676;
    background-color: #3b3d4d;
}


.next {
    color: white;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    background-color: #262938;
    border: solid 1px #767676;
}


.next:disabled{
    color: #767676;
    background-color: #3b3d4d;
}
