.header {
  grid-area: h;
  background-color: #2e3041;
  border-radius: 20px;
  display: flex;
  justify-content: space-between
}

.logo {
  width: 100px;
  margin: auto 15px;
}

.loginBlock {
  margin: auto 15px;

  color: white;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.logoutButton {
  outline: 0;
  border: none;
  cursor: pointer;
  background-color: #262938;
  border-radius: 15px;
  width: 100px;
  height: 40px;
  color: rgb(255, 255, 255);
  border: solid 1px #767676;
  font-size: 15px;
  font-weight: 700;
  transition: background-color 0.3s ease-in-out;
}

.logoutButton:hover {
  background-color: #3b3d4d;
}

.logoutButton:active {
  background-color: #454755;
}