.avatar {
  width: 100%;
  border-radius: 50%;
  width: 200px;
  /* box-shadow: 0px 0px 15px rgba(255, 173, 66, 0.438); */
}

.profile {}


.basicInfo {
  display: grid;
  grid-template-columns: 215px auto;
  margin: 15px;
}



.title {
  background-color: #262938;
  margin: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

.socialNetworkIcon {
  width: 40px;
  border-radius: 10px;
  margin: 10px;
  padding: 0;
}

/* text styling */

.checkbox {
  width: 13px;

}

.fullName {
  width: 200px;
  margin-top: 28px;
  color: white;
  font-size: 23px;
  font-weight: 600;
  text-align: center;
}


.topicHeader {
  display: block;
  padding: 0px 0px 3px 15px;
  color: white;
  font-size: 14px;
  font-weight: 400;


}

.topicText {
  width: 100%;
  color: white;
  padding: 12px 20px;
  border-radius: 15px;
  background-color: #262938;
  font-size: 16px;
  display: inline-block;
  font-weight: 400;
  resize: none;
  overflow-y: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  height: 116px;

  font-family: monospace;
}

.lookingForAJob {
  width: 200px;
  color: white;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
}

.editProfileButton {
  margin-top: 18px;
  outline: 0;
  border: none;
  cursor: pointer;
  background-color: #262938;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  color: rgb(255, 255, 255);
  border: solid 1px #767676;
  font-size: 15px;
  font-weight: 700;
  transition: background-color 0.3s ease-in-out;
}

.editProfileButton:hover {
  background-color: #3b3d4d;
}

.editProfileButton:active {
  background-color: #454755;
}