.loginText h1 {
    font-style: italic;
    margin: 15px 0px 0px 25px;
    color: white;
    text-align: center;
    padding: 120px 0 10px 0;
}

.loginForm {
    color: white;
    margin: 5px 15px 15px 15px;
    background-color: #262938;
    display: grid;
    grid-template-columns: auto;
    margin: 0 auto;
    width: 50%;
    border-radius: 15px;
    text-align: center;
    background-color: #ff0000;
}

.loginForm img {
    box-sizing: border-box;
    margin: 0 auto;
    width: calc(100% - 30px);
    border-radius: 15px;

}

.checkboxDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.loginForm label {
    color: rgb(255, 255, 255);
    font-size: 17px;

}


#dataInput {
    padding: 12px 20px;
    color: white;
    margin: 15px 15px 0px 15px;
    border-radius: 15px;
    background-color: #2e3041;
    font-size: 16px;
    display: inline-block;
    font-weight: 400;
    outline: none;
}

#captchaInput {
    padding: 12px 20px;
    color: white;
    margin: 15px 15px 15px 15px;
    border-radius: 15px;
    background-color: #2e3041;
    font-size: 16px;
    display: inline-block;
    font-weight: 400;
    outline: none;
}

#checkbox {

    margin: 15px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    transition: box-shadow .3s;
    background: #2e3041;
    cursor: pointer;
    border: 0;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: inset 0 0 0 2px rgb(122, 122, 122);
}

#checkbox:checked {
    box-shadow: inset 0 0 0 20px rgb(141, 141, 141);
}




.loginForm button {
    width: 120px;
    height: 40px;
    border-radius: 15px;
    margin: 0px 0px 15px 15px;
}


.submit {
    cursor: pointer;
    outline: 0;
    border: none;
    cursor: pointer;
    background-color: #262938;
    width: 150px;
    height: 50px;
    color: rgb(255, 255, 255);
    border: solid 1px #767676;
    font-size: 15px;
    font-weight: 700;
    transition: background-color 0.3s ease-in-out;
}

.submit:hover {
    background-color: #3b3d4d;
}

.submit:active {
    background-color: #454755;
}

.submit:disabled {
    background-color: #ff0000;
    color: rgb(207, 207, 207);
}

.errorOpacity {
    visibility: hidden;
}

.formError {
    text-align: center;
    border: red 1px solid;
    padding: 10px;
    color: red;
    margin: 15px 15px 0px 15px;
    border-radius: 15px;

}

#loginButton {
    cursor: pointer;
}
